@{
    ViewBag.Title = "Home Page";
}



<head>
    <style>

        h1 {
            margin: 30px 50px 80px 150px;
        }

        h3 {
            margin: 30px 50px 20px 20px;
            padding-left: 5px;
        }

        #listTitle{
            margin-top: 80px;
            margin-left: 20px;
            margin-bottom: 30px;
        }

        li {
            margin: 10px 50px 20px 50px;
        }

        p {
            margin: 100px 50px 15px 350px;
        }


        #register {
            margin-left: 410px;
            margin-right: 25px;
        }

        #footer {
            margin: 70px;
        }

    </style>


</head>


<div class="jumbotron" style="height:auto">
    <h1>
        Welcome to MyWorkout
    </h1>

    <h3>MyWorkout is a workout app that gives you a workout and keeps track of your exercises.</h3>
    <h3>You workout of 3 times a week doing 3 exercises each day.</h3>
    <h2 id="listTitle">The exercises include:</h2>
    <ul>
        <li>Overhead Press</li>
        <li>Bench Press</li>
        <li>Chin ups</li>
        <li>Barbell Rows</li>
        <li>Squats</li>
        <li>Dead lift</li>
    </ul>

    <!--
    <div>
       <script>
            var div = document.createElement("div");
            div.innerHTML = '<p>To begin please register or login.</p>\n' +
                '<a id="register" href="/Register">Register</a>/n' +
                '<a id= "login "href= "/Login" > Login</a >';
            document.body.appendChild(div);
       </script>
    </div>
        -->

    <p>To begin please register or login.</p>
    <a id="register" href="/Register">Register</a>
    <a id="login "href="/Login">Login</a>

    <div id="footer"></div>
   

</div>