@{
    ViewBag.Title = "Login";
}


<style>

    h1 {
        margin: 40px 50px 100px 420px;
    }

    #userNameLable {
        margin: 30px 10px 20px 320px;
    }

    #userNameBox{
        margin: 30px 10px 20px 0px;
    }

    #passwordLabel {
        margin: 30px 10px 20px 320px;
    }

    #passwordBox {
        margin: 30px 10px 20px 0px;
    }


    #loginButton {
        margin: 40px 20px 100px 450px;
    }

</style>


<div class="jumbotron">
    <h1>Login</h1>

    <form action="Login/getUser" method="post">
        <label id="userNameLable">UserName:</label>
        <input id="userNameBox" type="text" name="userName" placeholder="UserName" required />
        <label id="passwordLabel" >Password:</label>
        <input id="passwordBox"  type="password" name="password" placeholder="Password" required />
        <input id="loginButton" type="submit" value="Sign In"/>
    </form>


</div>
