@{
    ViewBag.Title = "Register";
}


<style>

    h1 {
        margin: 40px 50px 100px 420px;
    }

    .login {
        float: left;
        margin: 20px 20px 20px 330px;
    }

    .inputBox {
        float: left;
        margin: 20px 20px 20px 0px;
        width: 200px;
        height: 30px;
    }

    #loginButton {
        margin: 40px 20px 100px 450px;
    }

</style>


<div class="jumbotron">
    <h1>Login</h1>


    <h3 class="login">Username: </h3>
    <input id="userName" class="inputBox">

    <h3 class="login">Password: </h3>
    <input type="password" id="password" class="inputBox">

    <button id="loginButton">Login</button>





</div>
